<p id="notice"><%= notice %></p>
<div class="card" style="width: 22rem;">
  <img class="card-img-top" src="<%= @treinador.foto_url %>" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title"><%= @treinador.nome %></h5>
    <p class="card-text">Idade: <%= @treinador.idade %> anos</p>
    <p class="card-text"><%= @treinador.sexo == 0 ? "masculino" : "Feminino" %></p>
  </div>
  <div class="card-body">
    <%= link_to 'Editar Perfil', edit_treinador_path(@treinador) %>
  </div>
</div>
